.about--image {
  /* border: 3px solid blueviolet;
  background-image: url("../../public/avatar.jpg");
  object-fit: cover; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
