.bg-React-native {
  background: #08acda;
}
.bg-E2E-Test {
  background: #a9505c;
}
.bg-Docker {
  background: #119fed;
}
.bg-Linux {
  background: #f7c32b;
}
.bg-Unity {
  background: #131313;
}
.bg-Three-js {
  background: #131313;
}

.bg-Tailwind {
  background: #3ebff8;
}
.bg-Express-js {
  background: #131313;
}
.bg-Node-js {
  background: #87cf30;
}
.bg-Testing {
  background: #a9505c;
}
.bg-Mongodb {
  background: #48a13f;
}

.bg-JavaScript {
  background: #f7c32b;
}
.bg-TypeScript {
  background: #377cc8;
}
.bg-Redux {
  background: #7a50be;
}
.bg-SCSS {
  background: #d2699e;
}
.bg-React-js {
  background: #66dbfb;
}
.bg-Next-js {
  background: #131313;
}

.apply__learn--list {
  @apply flex w-full flex-wrap justify-center gap-2;
}
.apply__learn--item {
  @apply select-none py-2 px-3 md:py-3 md:px-4 hover:opacity-60 font-semibold rounded-xl text-heading-dark bg-bg-secondary-dark dark:bg-bg-secondary-light dark:text-heading-light text-sm md:text-base transition-colors;
}
