@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header: 50px;
  --footer: 50px;
  --max-width-container: 1200px;
}
::-webkit-scrollbar {
  display: none;
}
.main {
  max-height: calc(100vh - var(--header) - var(--footer));
  scroll-behavior: smooth !important;
  /* background: #b39c9c; */
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  max-width: var(--max-width-container);
  margin: 0 auto;
  max-height: calc(100vh - var(--header) - var(--footer));
  min-height: calc(100vh - var(--header) - var(--footer));
}

.header {
  height: var(--header);
  border: 2px solid rgb(17, 0, 255);
}
.header__content {
  max-width: var(--max-width-container);
}
.footer {
  height: var(--footer);
  border: 2px solid rgb(9, 226, 81);
}

.brainItem {
  cursor: pointer;
  transition: opacity 0.75s ease;
}

.brainItem.active {
  opacity: 1;
  stroke-width: 7px;
}
