@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --header: 70px;
  --footer: 50px;
  --max-width-container: 1200px;
}
::-webkit-scrollbar {
  display: none;
  /* color: #e0e0e0; */
}
.main {
  max-height: calc(100vh - var(--header) - var(--footer));
  scroll-behavior: smooth !important;
  /* background: #b39c9c; */
}
.section {
  /* background: #000; */
  display: flex;
  /* border: 5px solid red; */

  max-width: var(--max-width-container);
  margin: 0 auto;
  max-height: calc(100vh - var(--header) - var(--footer));
  min-height: calc(100vh - var(--header) - var(--footer));
}

.header {
  height: var(--header);
  /* border: 2px solid rgb(17, 0, 255); */
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  /* background: #00000024; */
  background: #ededed;
  z-index: -1;
  height: 50%;
}
.header__content {
  max-width: var(--max-width-container);
}
.footer {
  height: var(--footer);
}

.brainItem {
  cursor: pointer;
  transition: opacity 0.75s ease;
}

.brainItem.active {
  opacity: 1;
  stroke-width: 7px;
}

/* Title------------------------------------------------------ */
.apply__title {
  font-family: "Montserrat", sans-serif;
}
.apply__body {
  font-family: "Roboto", sans-serif;
  /* color: #636363; */
  @apply dark:text-body-dark text-body-light;
}
.apply__navItem {
  font-family: "Roboto", sans-serif;
  @apply capitalize dark:text-heading-dark text-heading-light h-[45px] px-6 flex justify-center items-center;
}
.apply__nav {
  box-shadow: 0px 2px 8px 2px rgb(207, 207, 207);
  @apply bg-bg-primary-light dark:bg-bg-primary-dark;
}

.active {
  @apply bg-bg-secondary-light dark:bg-bg-secondary-dark text-heading-dark dark:text-heading-light rounded-sm;
}

/* ---------------------------------------------------------------- */
.bx {
  /* FIX replace fontSize with tailwind fontsize config */
  font-size: 1.8rem;
  cursor: pointer;
  @apply hover:opacity-70 transition-opacity dark:text-black;
}
